@font-face {
    font-family: 'sfpro';
    src: url('SFProDisplay-Black.woff') format('woff');
    font-weight: bold;  
}
@font-face {
    font-family: 'sfpro';
    src: url('SFProDisplay-Bold.woff') format('woff');
    font-weight: 700;  
}
 

@font-face {
    font-family: 'sfpro';
    src: url('SFProDisplay-Light.woff') format('woff');
    font-weight: 300;  
} 

@font-face {
    font-family: 'sfpro';
    src: url('SFProDisplay-Medium.woff') format('woff');
    font-weight: 500;
} 

@font-face {
    font-family: 'sfpro';
    src: url('SFProDisplay-Regular.woff') format('woff');
    font-weight: 400;
} 

@font-face {
    font-family: 'sfpro';
    src: url('SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;  
}
 